@keyframes mykk{
	 0%{
		color: aquamarine;  
	 }
	 50%{
		color: brown;
        transform: rotate(180deg)
		 /*translateX(-50px)
		 skew(105deg)	
		 scale(5)*/
	 }

	 100%{
		transform: rotate(360deg);
		/*transform: translate3d(56,56,56)
        rotate3d(56deg,56deg,56deg)
		/*scale3d(5,5,1)
		perspective(100)*/
	 }
}


.down_list{
	position: absolute;
	height: 3vmax; 
	width: 100vmax;
	left:0px;
	top:97vmax;
	z-index: 10;
	resize: horizontal;
	overflow: hidden;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;
}
/*The column next to the menu must be based on the height of the menu: 3.5vmax, the others can be defined by yourself*/

.end_block{
	position: absolute;
	left:100vmax;
	top:97vmax;
	width:319px;
	height: 3vmax;
	overflow: hidden;	
}
/*mutilated block*/

audio{
	height: inherit;
	margin-left: 30px;
	width: 50px;
	transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

audio:active{
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

audio:hover{
   width: 250px;
   margin-right: 10px;
}







a:active{
	width: 15px;
	 color:aqua;
	 animation-duration: 3s;
	 animation-name: mykk;
	animation-timing-function:linear;
	animation-iteration-count: 10;	
}

a:hover{
	background-color: burlywood;
	height: 12px;
	 color:aqua;	
	animation-name: mykk;
	animation-duration: 3s;	
	animation-timing-function: linear;
	animation-iteration-count: 10;
}

