button {
	width:70px;
	height: 69px;
	display:list-item;
	background-color: rgba(255, 255, 255, 0);
	color: #abb2bf;
/*Convert it to list items so that the ul is arranged in columns*/
}

.sidebar {
	position: relative;
	top: 3.5vmax;
	left: 0;
	width: 70px;
	resize:vertical;
	overflow: hidden;
	/*Always know, because the menu height is the largest in the screen width high school, so I always have the largest screen width in the high school,*/
}

.sidebar_button {
	background-image: url(../pic/sidebar.jpg);
	background-repeat: no-repeat;
	background-size: 600px;
}

.button1 {
	background-position: 0px -50px;
}
.button2{
	background-position: 0px -120px;
}
.button3{
    background-position: 0px -190px;
}
.button4{
    background-position: 0px -260px;
}
.button5{
    background-position: 0px -330px;
}
.button6{
    background-position: 0px -1175px;
	position: absolute;
	bottom:69px;
	left:0px
}
.button7{
    background-position: 0px -1245px;
    position: absolute;
    bottom: 0px;
    left:0px
}
/*The last two tabs, placed in the lower left corner of the window*/

.buttons:hover {
   background-image: url(../pic/active_sidebar.jpg);
}

.buttons:active {
	/*filter: brightness(1.5);*/
	background-image: url(../pic/active_sidebar.jpg);
}

/*When all have the buttons class and are active, show another*/
