.termail{
    position: sticky;
    left: 0;
    width: 100%;
    background-color: #23282e;
}

.termail_but{
    height: auto;
    background-color: inherit;
    color: inherit;
    display: inline-block;
}

.termail_but:active{
     color: aliceblue;
     border-bottom-width: 1px;
     border-bottom-color: #abb2bf;
     border-bottom-style: groove;
}

.termail_but:hover{
    color: aliceblue;
     border-bottom-width: 1px;
     border-bottom-color: #abb2bf;
     border-bottom-style: groove;
}

.bash_li{
    background-image: url(../pic/termail.jpg);
}

.bash{
    background-position: -328px -543px;
    height: 20px;
    width: 58px;
}

.add{
    background-position: -398px -542.5px;
    height: 20px;
    width: 20px;
}

.bash_down{
    background-position: -426px -543px;
    height: 20px;
    width: 10px;
}

.spilt{
    background-position: -452.5px -542.5px;
    height: 20px;
    width: 20px;
}

.bash_del{
    background-position: -485px -542.5px;
    height: 20px;
    width: 20px;
}

.up{
    background-position: -520.5px -543px;
    height: 20px;
    width: 20px;
}

.close{
    background-position: -549px -543px;
    height: 20px;
    width: 20px;
}

.end{
   width: auto;
   position: relative ;
   display: inline-block;
   padding: 5px;
   margin-left: 10px;
}